[2013-03-24 22:41] nogweii opened #1 "Test cases and such"
You may want to create various test cases to ensure that the library stays functional. (And all the other reasons why unit tests are useful, yada yada.)

[VCR](https://rubygems.org/gems/vcr) would be fairly useful.

[2013-03-29 21:44] thedanielmay opened #2 "Accessing backer messages for a project"
Jumped over here straight away on hearing about this repo. Great start, great effort ;)

Looking for a way to query and access backer messages coming into my projects (ie. want to manage them from elsewhere rather than KS directly). Have you got support for this yet?

Was looking but didn't find this.

[2013-04-02 16:50] Gazler opened #3 "Category Projects"
I managed to locate the following API call through trial and error:

https://api.kickstarter.com/v1/categories/26/projects/popular?oauth_token=

This lead to:
https://api.kickstarter.com/v1/categories/26/projects/recommended?oauth_token=
https://api.kickstarter.com/v1/categories/26/projects/ending_soon?oauth_token=
https://api.kickstarter.com/v1/categories/26/projects/recently_launched?oauth_token

[2013-04-15 18:53] sanktanglia opened #4 "OAuth Token URL Throwing 500"
Im trying to replicate access to this API in another language, but whenever i make a post request to https://api.kickstarter.com/xauth/access_token?client_id=2II5GGBZLOOZAA5XBU1U0Y44BU57Q58L8KOGM7H0E0YFHP3KTG
 all i get back is a 500 error, is that normal or am i doing something wrong?

[2013-04-15 20:49] #4 closed, assigned to nobody

[2013-06-06 06:59] #1 closed, assigned to nobody

[2013-06-14 02:06] markolson opened #8 "Version 0.1.0"
- [x] Tag it
- [x] Update a gemspec
- [x] CHANGELOG
- [x] Add a CONTRIBUTORS file
- [x] Update docs/examples
- [x] Publish to rubygems.org

[2013-07-12 02:17] #8 closed, assigned to nobody

[2013-07-22 22:30] #3 closed, assigned to nobody

[2013-08-03 13:52] jdidion opened #10 "user.rb references missing method Kickscraper.client.process_raw_api_url"
What it says on the tin...someone deleted the method but did not update the references.

[2013-08-03 17:16] #10 closed, assigned to nobody

[2013-08-03 17:21] benrugg opened #12 "The search projects method is broken for searches with multiple words"
It looks like Kickstarter's API has changed in the last month or so, and now does not work when a query url is formatted like this:

https://api.kickstarter.com/v1/projects/search?q=Spark%2BCore%2BWi-Fi%2Bfor%2BEverything

If the space characters are instead escaped with '+', it works fine, like so:

https://api.kickstarter.com/v1/projects/search?q=Spark+Core+Wi-Fi+for+Everything

[2013-08-04 00:17] #12 closed, assigned to nobody

[2013-12-24 16:36] ghost opened #14 "Possible change to API"
Kickstarter recently added a feature to drill down on the search.  At about the same time a script that I had working stopped.  Here is the core of what has stopped working.  I accept possibility of operator error.  Holidays prevent much more attention at the moment.

require 'kickscraper'

Kickscraper.configure do |config|
  config.email = 'xxx'
  config.password = 'xxx'
end

c = Kickscraper.clie

[2013-12-27 19:22] ghost opened #15 "Handle the "count" query parameter"
I've fiddled with the Kickstarter API a bit recently, and noticed that searches for updates/projects/comments can have a "count" parameter that defines the maximum number of results returned. If not specified, the API returns 10 results at a time. Non-numeric values or values less than 1 are treated as 1.

This functionality is easy enough to implement in Kickscraper by adding a "count" parameter

[2013-12-31 18:40] markolson opened #16 "Investigate Public API options"
Given the new disclaimer on the private API, which looks like it may cause kick scraper user's accounts to be in jeopardy, we need to rework things until the proper API is re-opened, if it ever is. By "Public API", I mean requests that the website itself makes for data to some endpoint that may be authenticated by a cookie, but not an oauth token. We should be able to use something like Mechanize

[2014-01-11 19:38] ghost opened #18 "failing test 'it "handles searching for projects with special characters" do'"
I believe kickstarter in now using elasticsearch  ( http://www.kickstarter.com/backing-and-hacking/elasticsearch-at-kickstarter ) and that special characters are ignored within words or used as whitespace by the tokenizer to separate words.

I've been playing around searching for a couple of specific projects

"BA¢ON": The Music Video

Using '"BA¢ON"' as a search term returns 0 results
Using 'BA¢O

[2014-01-15 21:13] #18 closed, assigned to nobody

[2014-02-22 20:10] #14 closed, assigned to nobody

[2014-04-09 19:03] dougiebuckets opened #22 "Accessing Backer Addresses"
Hi there - Thanks so much for putting this library together. Looks great! I was curious to know if you're thinking of including any methods for accessing the addresses of backers who have backed our projects? I would love to be able to map out where our backers are coming from. So far, I've mapped out those who have pre-ordered our product (http://lonoapp.com) via Celery - http://lono-blitz.heroku

[2014-07-04 17:51] systmkor opened #23 "Getting the Backers Profile IDs for a Project"
I don't fully understand how to manipulate the Kickstarter API through Kickscraper yet. But I am trying to get the all the backers from an inputted project.

[2014-07-05 00:07] #23 closed, assigned to nobody

[2014-11-17 16:57] tk5446 opened #24 "Issue with Faraday dependency"
I am running into a dependency issue with faraday that I can't figure out to save my life.

Whenever I run either bundle install or bundle update I get the following error message:

Fetching gem metadata from https://rubygems.org/.........
Fetching additional metadata from https://rubygems.org/..
Resolving dependencies...
Bundler could not find compatible versions for gem "faraday":
  In Gemfile:

[2014-11-18 15:52] #24 closed, assigned to nobody

[2015-01-27 06:57] eddeo93 opened #25 "Pulling the company website for each project"
Thank you so much for this very useful kickscraper tool. I was wondering if there was a way we could pull out the actual company website as well as the email address of the creator?

Not the project url, as we could already get the urls. I would like to see if we can obtain the actual company website url.

Thanks.

[2015-01-27 17:24] benrugg commented on #25
Hey @eddeo93 - that's a great question... I actually thought this was possible, but I just messed around with it for a bit and I guess it's not...

You can get close by finding a user (or finding a project and then doing `user = c.find_user project.creator.id`), which gives their bio, etc. But apparently kickstarter's api doesn't return their website(s).

[2015-01-27 17:24] #25 closed

[2015-01-27 18:29] eddeo93 commented on #25
I see... Thanks!

[2015-01-29 01:14] eddeo93 opened #26 "Scraping all the successfully funded projects on kickstarter"
Is there a function where we can scrape all the successfully funded projects on kickstarter? Thanks.

[2015-01-29 03:08] benrugg commented on #26
I wish there was... As far as I can tell, Kickstarter's API doesn't have any methods to search for or browse through lists of projects one they are finished.

What I've done for my project (www.jumpkick.me) is page through all the "popular projects", which will eventually give you every project that is currently active.

I have a list of all projects that have finished since June 8th, 2013. I can

[2015-01-29 03:12] eddeo93 commented on #26
@benrugg So I initially thought that Kickstarter would only have live projects on their website. But if you do an advanced search, you can sort through all the successfully funded projects on kickstarter. Here is the link: https://www.kickstarter.com/discover/successful. I am kind of new to ruby so I was struggling to parse through this website.

Yes, I would greatly appreciate if you could give m

[2015-01-29 03:17] benrugg commented on #26
Yeah, that's a great point. Last time I checked, there was no way to browse that same info through the API (for whatever weird reason). But... it definitely might have changed by now.

We have an open issue to discover more of the API end points and then build in functionality to parse them. I just added successful projects to the list - which is here if you want to contribute to it https://github

[2015-01-29 03:19] eddeo93 commented on #26
Wow, thank you so much. So should I just wait until someone has something to say with regards to this issue? Or should I reference it again in more detail?

I look forward to looking at the list! Thank you so much!

[2015-01-29 03:21] benrugg commented on #26
Here's a big CSV file of all the projects I have records of. It's a little over 115,000 projects. Kickstarter is amazing.

I'll leave this link up for a bit and then probably take it down soon...

https://www.dropbox.com/s/ylx2rfg8xxqfwtk/kickstarter%20projects.csv?dl=0

[2015-01-29 03:24] benrugg commented on #26
About the functionality itself, I unfortunately don't have any time to do it in the near future. If anyone else on the project can, please go for it!

@eddeo93, I know you said that you're somewhat new to ruby, but if you want to see if you can extend kickscraper to pull in successful projects, that would be awesome. You can fork the project, modify it and then make a pull request and we can revie

[2015-01-29 03:26] eddeo93 commented on #26
holy moly. This is amazing! Kickstarter is truly amazing as well as other crowdfunding platforms. I will make sure not to share this list with anyone without your permission. This would be a great asset for my research. You are my savior!

And yes! I would love to be a part of this great cause! I will look more into it and will let you know if I come across something.

Once again, thank you so muc

[2015-01-29 03:28] benrugg commented on #26
Sounds great. And you're welcome :-)

Also, I forgot to mention that there are a few columns in the CSV that are just internal to my own project. Hopefully you can filter it all and get whatever you want.

If you do something interesting with the data, I'd love to see it!

[2015-01-29 03:40] eddeo93 commented on #26
No problem! Thank you so much!

[2015-03-06 16:50] kimkraunz commented on #26
Is there any chance that you could repost the csv?  I'm really interested in looking to see if I can use it to predict which projects are fully funded and which aren't.
Thanks!

[2015-03-09 04:28] #26 closed

[2015-03-09 23:53] benrugg commented on #26
Hey @kimkraunz - sorry for the delay in getting back to you. I just exported an up-to-date CSV and you can get it here:

https://www.dropbox.com/s/848olob1a2uj2rc/kickstarter%20projects.csv?dl=0

I hope it helps you!

[2015-03-10 16:46] kimkraunz commented on #26
Thank you!

On Mon, Mar 9, 2015 at 7:53 PM, Ben Rugg <notifications@github.com> wrote:

[2015-04-02 22:11] kimkraunz commented on #26
Hi-
My hard drive died with the kickstarter file you had put in dropbox for
me.  Is there any way you could put it back up for me?  Sorry for the
inconvenience.
Kim

On Mon, Mar 9, 2015 at 7:53 PM, Ben Rugg <notifications@github.com> wrote:

[2015-04-03 20:02] benrugg commented on #26
Hey @kimkraunz - haha, sure... I just exported everything again, so it's current through today now. (I'll leave this up for a few days).

https://www.dropbox.com/s/9c4uog6rrh2sv34/Kickstarter%20Projects.zip?dl=0

[2015-04-07 13:17] kimkraunz commented on #26
Thanks!

On Fri, Apr 3, 2015 at 4:02 PM, Ben Rugg <notifications@github.com> wrote:

[2015-04-09 21:51] benrugg opened #28 "Kickstart login failing?"
Hey @markolson @jamlen @NolaMark @ajkerrigan @danleveille -

Do any of you guys have an active project that is using kickscraper right now? My project (Jumpkick) started having login failures yesterday morning and I can't seem to get any info from Kickstarter's API anymore.

I was wondering if anyone else is having the same problem...

[2015-04-09 21:59] NolaMark commented on #28
Haven't used in quite some time.  Sorry no helpful datapoint to add.

[2015-04-09 22:00] ajkerrigan commented on #28
I don't, no. I actually killed my project and removed it from GitHub because I felt like the kind of data-grabbing I wanted to do was violating the spirit (if not the letter) of Kickstarter's API policies. I hope this is a short-lived issue for your sake though.

[2015-04-10 00:02] markolson commented on #28
Sorry man, I haven't run this in a while either. I can fire up Charles tomorrow and see what's up if it continues through tomorrow.

[2015-04-10 00:46] benrugg commented on #28
Thanks for getting back to me so quickly, guys. I'm in touch with Kickstarter support, so hopefully I'll figure out something soon :-)

[2015-04-10 00:46] #28 closed

[2015-04-10 22:35] benrugg commented on #28
Got it working, guys! It looks like Kickstarter's API now requires content-type: application/json to be set in request headers. Great that it was a quick fix.

[2015-04-11 23:01] tk5446 opened #30 "Is Kickstarter denying API access?"
All of a sudden I am getting the following error when trying to get the client:

RuntimeError (Login does not match any of our records.)

I tried two separate kickstarter accounts. Is anyone else getting this?

[2015-04-12 00:54] benrugg commented on #30
Kickstarter changed their api a few days ago which caused this problem. Luckily, it's now fixed with a change to kickscraper! ...and I just realized we didn't push this fix to the gem. If you need the fix right now, replace the line in your gemfile with a reference to this github repo instead of the gem. I'll push the newest version to the gem as soon as I can.

[2015-04-12 00:54] #30 closed

[2015-04-12 01:25] benrugg commented on #30
Ok, I just published the new version, so now you can just update kickscraper (to version 0.2.1) and you should be good to go.

[2015-04-12 17:25] tk5446 commented on #30
awesome. Thanks @benrugg !!

[2015-06-16 02:54] eddeo93 commented on #26
Hey @benrugg,

Youre file has been extremely helpful in my research paper that I have been working this whole year. I was wondering if you had a more recently updated database of your kickscraper. That will really help my research further. Thank you!

Eddie

[2015-06-23 19:26] Zidane007 commented on #26
Hi @benrugg,
I'm very interested in your Kickstarter dataset. Is there any chance that you could repost the csv? I'd really appreciate it.
Thanks!

[2015-06-24 06:14] dheeraj510 opened #32 "Fetch all projects on kickstarter"
Is there any method to scrape all projects on kickstarter with all of the possible data?

[2015-06-24 18:17] Zidane007 commented on #26
Hi @kimkraunz,
Do you still have a copy of the Kickstarter data from @benrugg? If you do, do you think you can share?I'd really appreciate it if you can share.
Thanks!

[2015-06-24 18:31] kimkraunz commented on #26
I'll take a look at what I have.  The latest would be from April.

On Wed, Jun 24, 2015 at 2:17 PM, Zidane007 <notifications@github.com> wrote:

[2015-06-24 18:58] Zidane007 commented on #26
@kimkraunz
That's fine with me...Thanks so much and I really appreciate it.

P.S: I looked at your Kickstarter project and its pretty amazing.

[2015-06-27 16:47] kimkraunz commented on #26
Thanks!  I had a bunch of my plate last week and didn't get a chance to
grab the file for you.  I'm just left for a trip and will be back the
middle of next week.  If you don't hear from me by the end of the week, can
you send me a gentle reminder.  Sorry about the delay!

On Wed, Jun 24, 2015 at 1:58 PM, Zidane007 <notifications@github.com> wrote:

[2015-07-05 00:23] eddeo93 commented on #26
Hi @kimkraunz,

Just a gentle reminder: do you mind posting the most updated dataset? Thank you so much. Appreciate it!

Happy 4th!

Eddie

[2015-07-05 22:35] benrugg commented on #26
Hey @eddeo93 @kimkraunz @Zidane007 -

Sorry for the radio static on my end. We just had a baby (our third girl, phew) and I've been more swamped than I'd like to admit.

Here is an updated copy of all the project data I have: https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

Enjoy!

[2015-07-06 04:20] Zidane007 commented on #26
Thanks so much @benrugg. Really appreciate it. Congratulations on your baby girl! I know the joy of having her definitely trumps any feelings of being swamped.

     On Sunday, July 5, 2015 6:35 PM, Ben Rugg <notifications@github.com> wrote:

 Hey @eddeo93 @kimkraunz @Zidane007 - Sorry for the radio static on my end. We just had a baby (our third girl, phew) and I've been more swamped than I'd lik

[2015-07-06 16:46] benrugg commented on #26
Haha, yeah, I'm definitely so happy being a dad - even when it's hard.

By the way, I'd love to see what all three of you are doing with the kickstarter data!

[2015-07-08 03:55] eddeo93 commented on #26
Hey @benrugg you are the best. Congratulations on being a father! I can't even imagine the excitement you are feeling now.

I am currently working with my professor on a research paper with regards to crowdfunding, especially with the post-campaign process and the social outcomes related to it. I think this paper could really shed some light and help these creators have a better understanding of w

[2015-07-08 17:08] benrugg commented on #26
I'm really glad to hear that my project data has been helpful @eddeo93. Your paper sounds really interesting - and like you mentioned, I hope it's helpful for creators!

[2015-07-14 04:17] Lythimus opened #33 "Client returning null objects"
I've successfully loaded the Client code on two machines but it is not returning null results when parsing client.user and client.categories in version 0.2.2. Further client.category('comics') returns an empty list for all categories. I assume this behavior is related to either a change in KickStarter API or dependency issues on my machines, so I have included the relevant gems from both setups:

[2015-07-15 05:00] benrugg commented on #33
Hey @Lythimus - I just tried it on my machine and I'm getting the same thing. nil for user and for any categories. I know it didn't do this in the past, so I think your assumption is probably right - I think Kickstarter must've changed the way they're exposing both users and categories.

I don't have the time to work on this any time soon, but if anyone wants to try to fix this, please go for it!

[2015-08-10 22:01] dinofly commented on #26
Hey @benrugg,

like eddeo93, i'm working on a research about kickstarter, i'm trying to state whether or not crowdfunding is helping going beyond geographical bias in ventures funding, do you still have any *.csv that you could share?

[2015-08-27 17:55] dinofly commented on #26
Hey @kimkraunz do you still have that april dataset?

[2015-08-27 18:29] benrugg commented on #26
Hey @dinofly - sorry for not responding when you asked earlier. Here's the latest project data:

https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

[2015-08-27 18:38] kimkraunz commented on #26
​
 kickstarter_projects.csv
<https://drive.google.com/file/d/0B1fUxQl4wYFrM0M4YUxqSVlIVVk/view?usp=drive_web>
​Sorry I've been out of the loop.  I've moved cross country and was swamped
in details.  Here's what I believed I used.  The columns needed some clean
up when I started.

On Thu, Aug 27, 2015 at 1:55 PM, dinofly <notifications@github.com> wrote:

[2015-08-29 12:11] dinofly commented on #26
Thank you very much guys, i really appreciate that!

[2015-09-07 13:36] fabianmeissner commented on #26
Hi Benrugg, Dinofly & Kimkraunz, thanks for the really interesting data. Currently, I am writing my master thesis on the topic and this list is very useful to me. Would love to be in touch. Best regards from Germany, Fabian

[2015-11-28 10:44] hothero opened #34 "how to use find_project to find a specify project?"
I didn't get project by id or slug, anyone can successfully use this feature?

[code]

[2015-11-28 18:46] benrugg commented on #34
Hey @hothero - I just checked this out. This definitely used to work and now it doesn't.

I also just looked through some of the project data I have, and it looks like this broke on Nov 10th.

I will see if there is an alternative way to query Kickstarter to make this work again...

[2015-11-30 05:13] hothero commented on #34
Thanks for your help. Or you have any source about Kickstarter API Usage? I think I can help to fix it, but I don't have document.

[2015-11-30 17:29] benrugg commented on #34
You know what... there isn't any kind of public API documentation. If you look through some of the issues on this repo, though, you'll see where we have done a bit of our own documenting.

Definitely feel free to contribute and make a pull request!

[2015-12-04 00:12] mrGreenbean commented on #26
Hello guys - sorry to be a bother - doing a paper for college - would I be able to get a latest copy of the csv too? Would be super appreciated!

[2015-12-04 00:21] mrGreenbean opened #35 "Kickstarter csv"
Hello guys, just looking to do a school paper - if possible, could someone upload the latest csv file? Noticed a few dropbox links here - though they seem to have disappeared. It would be super appreciated!

Thanks

[2015-12-04 02:33] benrugg commented on #26
Yeah, no problem. I'll put the link on the new issue that you opened.

[2015-12-04 02:35] benrugg commented on #35
Here you go. I'll leave this link up for a bit:

https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

One quick note... On Nov 10th of this year, Kickstarter changed their API and it broke part of the way I'm collecting data. So for any projects that have finished on that date or later, they are inaccurately marked in my data as "deleted" and their final backer count and

[2015-12-04 02:36] #35 closed

[2015-12-04 10:15] mrGreenbean commented on #35
Hi Ben, that's super helpful! Do you by any chance have any csv data from just before the 10th Nov?

(Just wondering if the 10th Nov bug is possible to fix in the future?)

[2015-12-04 17:41] benrugg commented on #35
Yeah, there is 2.5 years worth of data in that CSV. And only projects ending after Nov 10th have the slight inaccuracy.

At some point I am hoping to make a workaround for the API change and fix the data, but I won't have time for a while, unfortunately.

[2015-12-05 19:08] mrGreenbean commented on #35
Keep up the good work Ben! ☺ will keep an eye here in case there is development.

Have a good weekend,

[2015-12-13 20:29] Bugsbane commented on #32
@dheeraj510  Lol. I can tell Kickstarter are just going to love you already. Please don't make them shut down a useful unofficial API for the rest of us using it in moderation.

[2015-12-13 20:32] Bugsbane opened #36 "Finding website of users?"
I'm just trying to see if there's any way to get the websites of a small list of users, ie for the new and noteworthy projects in a specific category.

Seems that it's possible to get the list of projects, and then from that the list of founder creators, however it wasn't clear how to list their websites where available.

I see there's a category for URL's per user, but these seem to be Kickstarte

[2015-12-13 23:46] benrugg commented on #36
I tried this at one point, too. I wish it was possible, but I don't think it is. I'm still not sure why Kickstarter hasn't opened up their entire API publicly to spur on community involvement!

[2015-12-13 23:46] #36 closed

[2015-12-15 03:12] mgreenberg opened #37 "Rate Limits?"
Anyone have any idea on the rate limits that Kickstarter imposes on API / scraping clients? Would really like to play within the rules and not get blacklisted.. Thanks!

[2015-12-15 03:32] benrugg commented on #37
When I was first building my app, I hit a limit of 600 API calls / hour. I'm not sure if that's still the limit, but that's what it was a couple years ago.

[2015-12-15 04:12] mgreenberg commented on #37
Thanks!

[2015-12-16 21:22] biznickman opened #38 "Kickstarter limits recently launched to 200 pages"
Just as a heads up it may be a good idea to add some sort of limiting to the recently launch request. Currently you can call `load_more_projects` and while the response says there are more results, it won't allow requests beyond the 200th page.

[2015-12-17 04:31] benrugg commented on #38
Oh yeah. That's a really good idea. I didn't realize that Kickstarter didn't allow requests past the 200th page. If you want to make that change and submit a pull request, that would be awesome!

[2015-12-17 04:32] #37 closed

[2015-12-17 05:09] mrGreenbean commented on #38
Is there a way to switch onto a different proxy / site just before 200th page - so Kickstarter doesn't flag?

[2015-12-17 13:15] ChckNrrs commented on #35
Hey benrugg and mrGreenbean,

my name is Richard, I'm a German student and I'm looking for an current data set of kickstarter projects for my master thesis. Actually I have one which ends in September 2015.
@benrugg Here and in another thread I saw, that you provide such data sets, but the download links do not work anymore.
Would it be possible, that you upload the .cvs from above again or, if yo

[2015-12-17 21:57] biznickman commented on #38
@mrGreenbean it has nothing to do with the IP address ... it literally will not let you go past page 200 now. That's a recent addition. Not a rate limit.

[2015-12-19 19:05] benrugg commented on #35
Hey @ChckNrrs, sure thing... I just exported the projects (up to date) and put them here temporarily:

https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

(see the note above about the slight inaccuracies for projects ending Nov 10th and later)

[2015-12-21 13:12] ChckNrrs commented on #35
Thank you very much @benrugg!

[2016-01-10 23:29] gmanueltp commented on #35
Hello @benrugg and @mrGreenbean ,

As many in this post, I am also working on my master thesis about kickstarter, my bottleneck is the data and I would trully appreciate if you could help me out with the csv file. I had checked the other links but they wont open.
Thanks a lot in advanced!
My best wishes for your projects,
Guillermo

[2016-01-12 00:16] benrugg commented on #35
Now that this is coming up so often, I'll try to put some work into an automated export of this data, so I can just post it somewhere, and so we don't have to clog up the github threads...

But for now @gmanueltp, here's the latest dump of project data: https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

[2016-01-12 00:27] gmanueltp commented on #35
Thanks a lot @benrugg I really appreciate it! Keep the good work!!

[2016-01-12 00:28] benrugg commented on #35
You're welcome :-) Let me know if you do something cool with it. I love seeing what everyone has been creating/researching with this kickstarter data.

[2016-01-12 00:30] gmanueltp commented on #35
lll do it @benrugg thanks!! Ill be working on it!

[2016-01-13 13:17] samronsin commented on #35
Hi @benrugg, I did this project with the help of your data: http://www.axplusb.com/search
I'll update the data soon, thanks a lot for sharing this!

[2016-01-13 22:45] benrugg commented on #35
Wow @samronsin, this is is really cool. I love the visualization of that data. Great project!

[2016-01-28 11:27] JackJPreston commented on #26
Hey @benrugg Would you mind re-uploading. Am currently writing dissertation on Kickstarter and this would make my life a whole lot easier, so would be super appreciated. Thanks.

[2016-01-28 17:58] benrugg commented on #26
@JackJPreston I just put it back on the last link in issue #35. Hope it helps.

[2016-03-11 22:06] #34 closed

[2016-03-11 22:07] benrugg commented on #34
@hothero - another contributor just fixed this issue. If you're still trying to use kickscraper, grab this latest version and you should be good to go. I'll post this update to rubygems asap...

[2016-03-18 05:43] rwcatalano commented on #16
Hi there, as of Saturday I've been getting a 503 response from every automated request to kickstarter.com.  It works on my local dev box, but fails on 2 different servers on 2 different hosts.  Any ideas?  Works in the web browser and in postman too.

[2016-03-21 17:41] benrugg commented on #16
Hey @rwcatalano - I'm not sure what would cause this. Definitely strange that it works for you on your local machine, but not in production. Maybe you've got the debugging proxy enabled? Check the rails environment you're running on those severs. (or see app/models/kickstarter.rb).

[2016-03-22 18:26] kadnan opened #40 "Fetch projects after 2014?"
Is it possible to fetch projects by date? I want all from 2014-2016

[2016-03-22 18:29] benrugg commented on #40
Nope... You have to search based on other factors (popularity, category, keywords, etc). Also, keep in mind that there are ~150,000 projects in that time, and Kickstarter only let's you do about 600 queries per hour. (And even that is just by concession at this point).

[2016-03-22 18:29] #40 closed

[2016-05-20 08:15] Kemicalish opened #41 "Get categories get: "You are not authorized to access this resource.""
Hi,

I'm currently getting this response when trying to get categories:

{"error_messages":["You are not authorized to access this resource."],"http_code":401,"ksr_code":"unauthorized","disclaimer":"This endpoint is solely for the use of applications owned by Kickstarter. Any other use is a violation of Kickstarter's terms of use."}

Did Kickstarter make some change in available endpoints?

[2016-05-20 08:35] Kemicalish commented on #41
Sorry probably just a miss from KS serv, same request give me the correct list now (i should have wait a little more before posting ^^)

[2016-05-20 08:42] #41 closed

[2016-06-07 08:20] ronenteva commented on #16
Any updates about searching for a project by ID?

[2016-06-09 18:40] benrugg commented on #16
@ronenteva, at this point, I don't think anyone is actively working on adding new features like this. Kickstarter's API is still difficult to use, and occasionally changing without notice. I'm still hoping they make a public one someday!

[2016-06-09 18:40] #16 closed

[2016-07-16 09:36] rai1234 commented on #35
@benrugg thanks so much for the dataset you have uploaded. Can you provide me with the textual content of the data these campaigns provide. I am a student and would love to do some analysis.

[2016-07-16 16:01] benrugg commented on #35
You know what... The info in that dataset is the only content I have. I don't believe you can easily scrape the textual content from Kickstarter.

[2016-10-17 03:45] Rgui commented on #35
Hi everyone,
Does any of you know any dataset on Kickstarter that also crawled the community data (meaning the country of origin and the number of backers) and/or the number of updates and comments?
Or a dataset with the daily updates on the number of backers and the daily amount raised by a set of projects?

[2016-10-17 17:49] benrugg commented on #35
@Rgui - I've got data that shows some of what you're asking for. You can get it at the last dropbox link (above) that I posted.

[2016-10-23 01:19] vonBlasberg commented on #35
Hello!

Does anyone have an idea if there is a data set available which includes the comments (text) from all successful campaigns? Thanks!

[2016-10-24 00:19] benrugg commented on #35
@vonBlasberg - I don't have that data. If you end up finding it, let me know!

[2016-11-07 08:12] dragoon3 commented on #35
@benrugg Hello, I'm a year-two univiersity business student from Asia, recently I was doing a small class report about data analysis in Kickstarer, I've downloaded the previous dataset you've already uploaded ( covering to 08/2016), I really appreciate your csv dateset, it helps me a lot to build some statistical model, but now I really want the latest csv dataset since there are some new Asia pro

[2016-11-07 16:18] benrugg commented on #35
@dragoon3 Sure thing. I just uploaded a new version at that same link above.

[2016-11-23 13:08] dragoon3 commented on #35
@benrugg First of all, thanks a lot! I have recently conducted statistical analysis of this dataset and found many interesting pattern, I would upload my findings after finishing this class report.
 I'm really interested in the process of using this code file to get data from the web and build a dataset transformed to csv, could you simply explained how this code file works? (since I'm not familia

[2016-11-28 22:48] benrugg commented on #35
Hi @dragoon3 - I'm definitely curious to see the patterns and analysis you've done with the data. Post that for sure!

The project data that I have is really just pulled directly from Kickstarter. If you wanted to do average price, min price or any other analysis, you'd have to do that in Excel or something. Also, Kickstarter doesn't make any of the detailed backer data available, so the only data

[2016-12-27 12:46] marcosmercado commented on #35
@benrugg Hello! Thanks for the amazing data! Do you have any up to date data?

I am working on identifying the gender of the person behind each project and for that I need the name of the person, are you pulling this data in any way?

Thank you for all your work!

[2017-01-02 18:05] benrugg commented on #35
Hi @marcosmercado - Unfortunately, no... I don't have the name for any project creators. I'm not sure if Kickstarter offers that information easily in their API. Sorry!

[2017-01-16 20:03] Piedjoo commented on #35
Hi @benrugg, amazing that you're keeping track of all the data! Do you happen to have data on the required returns on the projects as well?

[2017-01-16 20:09] benrugg commented on #35
@Piedjoo what kind of info are you thinking? The "goal" data for each project is what dollar amount they need to reach for the project to be successful. Were you asking about that or something else?

[2017-01-16 20:16] Piedjoo commented on #35
@benrugg Tnx for your quick reply! What I meant was the return the projects offer. Lets say a project wants to raise $100K in debt and offers a 6% return on it. I would like to use the data to investigate the cost of capital related to crowdfunding.. Thanks!

[2017-01-16 20:18] benrugg commented on #35
@Piedjoo ah, yeah, that would be great data. As far as I know, Kickstarter doesn't allow projects to offer debt or pay interest to their backers. I think a couple of the other crowdfunding sites are known for that. (Let me know if I'm wrong!)

[2017-02-12 14:13] katekol commented on #35
Hi guys! @benrugg do you happen to have an updated dataset (in csv format) of the kickstarter projects? I'm writing my master thesis on crowdfunding and I desperately need data... Plus, I've tried to download and open the dropbox files you updated above but excel cracks every time I try to import them, why so?

[2017-02-13 07:03] yauhenibankouski commented on #35
Hey guys! @benrugg I would be reall happy if you could share the newest Kickstarter database? Also, do you think it is possible to scrape more info from Kickstarter, for example I need to research whether the projects that have video, comments and updates outperform those that do no have as well as the number of friends of founder affects the success of the campaign.And finally make the cross-regi

[2017-02-13 21:02] benrugg commented on #35
@katekol and @yauhenibankouski - I've updated the shared csv file with the latest data.

If excel is crashing, it's probably because it can't import such a large file. You should be able to find some way of importing only part of it, or using a different app to split the file into pieces.

There isn't an easy way to get other data like video, comments or friends. Sorry!

[2017-02-21 17:10] marianna240296 commented on #35
Where can I find the most updated data set of the kickstarter projects? @benrugg
I'll start doing my thesis on crowdfunding soon and I would really appreciate to have the data available for running the analysis

[2017-02-21 17:18] benrugg commented on #35
@marianna240296 - the most updated file is still at the dropbox link in this thread. It's sort of buried now, I guess, so I'll post it again:

https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

[2017-02-22 07:45] marianna240296 commented on #35
Thank you so much for sharing these data @benrugg

Il 21 feb 2017 6:18 PM, "Ben Rugg" <notifications@github.com> ha scritto:

[2017-03-08 16:23] jcsouth commented on #35
@benrugg Your data set is super helpful. I'm interested in analyzing the stats just for journalism projects (I teach journalism in the US). When I filter the file you posted for journalism as a main or sub category, I find 845 projects -- which is a decent size set but far short of the 4,262 journalism projects that Kickstarter says have been posted (https://www.kickstarter.com/help/stats ... 917

[2017-03-08 18:18] benrugg commented on #35
Hey @jcsouth -

I just looked into this... it turns out there is an answer, but it's an unsatisfying one. Apparently just a few months after I began collecting data, Kickstarter reworked all their categories. They expanded them to include many more sub categories than they had before (including niche sub categories like "bacon").

When they did that, they also changed the way their API returned da

[2017-03-08 18:56] AccountingResearcher commented on #35
Hi @benrugg ,

Thanks for your hard work. I have a question. When I look at the projects between 2009 and 2013 (excluding 2013), I see only successful projects. Am I right? I just want to be sure about the data I have.

Again thanks a lot

[2017-03-08 19:15] benrugg commented on #35
@AccountingResearcher - Yeah, I'm not sure I ever made that clear. Once the scraping system was active (spring or summer 2013), I started collecting all projects (so any data after that is comprehensive). But then I went back and tried to find any past kickstarter projects and add them as well. The huge caveat is that it was only easy to collect successful (and notable/popular) projects from the p

[2017-03-09 05:59] benrugg commented on #35
By the way @jcsouth, I'm working on updating my code to go back and gather accurate main and sub categories for all projects. I think within a day or two I'll have it all, and I'll post the new data.

[2017-03-09 14:44] jcsouth commented on #35
Thanks, @benrugg. I've been noodling around with different ways to focus my research. The backdrop is that there's been a big shakeout in crowdsourcing platforms for journalism in recent years. A lot of start-ups (Spot.us, Beacon, Contributoria) have all folded, leaving Kickstarter as the default for journalists seeking funding. So that's why I'm interested in looking at funding trends for Kicksta

[2017-03-09 19:18] benrugg commented on #35
@jcsouth, that's a really cool project. I'd love to see what you end up finding. I'll let you know when the data is up-to-date. (It's taking longer because Kickstarter limits the speed at which I can request info).

[2017-03-21 00:08] benrugg commented on #35
Ok, I've finished updating all the projects with their correct main/sub categories. @jcsouth, you should now be able to look at just the Journalism projects and the numbers should be a lot closer to what Kickstarter reports.

The csv is at the same link (above).

[2017-03-27 17:52] jcsouth commented on #35
Thanks again, @benrugg. Sorry for the delayed reply -- grading midterms, etc. I'll wade into this this week. Cheers.

[2017-04-04 03:23] asalce commented on #22
While a campaign is active only backer's basic info is provided:

- Backer Number
- Name
- Pledge Amount
- Reward Level
- Message Count

When the campaign ends, you will get access to:

- E-mail Address
- Pledge Status (ie. Collected, Errored)

[2017-04-04 03:29] asalce commented on #2
@thedanielmay a little late (by alot!) to the party, but you can definitely access the messages. KS  messaging "API" revolves around a few mustache templates and a XHR call. If you have the backer list the messages can be retrieved with 1 call to each backer and then some JSON parsing. If you'd like to retrieve non-backer messages that will require the same json ajax calls from your "inbox" page.

[2017-04-04 04:27] benrugg commented on #22
That's good to know. Thanks @asalce!

[2017-05-23 22:09] shoogle commented on #22
@asalce, thanks for that! How is the information accessible? Is it [downloadable as a spreadsheet](https://www.kickstarter.com/help/faq/creator+questions#faq_55024) while the project is live, or does that only happen once the project has ended?

I'm about to launch a Kickstarter myself and I need access to backer information during the campaign. A spreadsheet is good enough for my purposes, but if

[2017-06-01 15:17] shoogle commented on #22
So my Kickstarter project is [currently live](https://www.kickstarter.com/projects/openscore/openscore-join-the-sheet-music-revolution), and I can confirm that the spreadsheet of backer information is **not** downloadable until the campaign ends.

[2017-06-02 01:30] asalce commented on #22
@shoogle You'll need to scrape the data via an Ajax call. After you log into your account, try executing this script in your JS console:
`jQuery.getJSON('https://www.kickstarter.com/openscore/openscore-join-the-sheet-music-revolution/backers/report/index?page=1&asc_or_desc=asc&sort_by=sequence',function(o,e){
    if(e=='success'){
      console.log(o);
    }
  });`

Object o should have a list bac

[2017-06-02 15:56] spacedawwwg opened #43 "Violation of Kickstarter's terms of use???"
`This endpoint is solely for the use of applications owned by Kickstarter. Any other use is a violation of Kickstarter's terms of use.`

^^^ is using the api a violation of Kickstarter's terms of use??

[2017-06-02 17:36] benrugg commented on #43
Yes, you do need to get permission from Kickstarter to use the API.

[2017-06-02 17:36] #43 closed

[2017-08-07 14:53] phil1425 commented on #26
I fed some of the names of the kickstarter projects (my computer couldn't handle the complete dataset at once) into [andrej karpathy's lstm](https://github.com/karpathy/char-rnn) . The results are hilarious. Made a little game out of it, too: https://phil1425.github.io/businessORbullshit/ hope you like it

[2017-08-07 20:26] benrugg commented on #26
@phil1425 - that's rad. And you're right, the results are hilarious. I only got like 4-5 right in a row before I'd get one wrong. Nice work.

[2017-10-03 16:40] madelainegur commented on #35
Hi @benrugg! I am currently working on my thesis and would find it super helpful if you could re-post the cvs file here again. I will mention you among the people who helped in the thesis :D

[2017-10-03 20:13] benrugg commented on #35
Hi @madelainegur - here's the latest version: https://www.dropbox.com/s/75rxb32xdtipjbd/kickstarter%20projects.csv.zip?dl=0

[2017-10-06 16:27] isab opened #44 "backed_projects returning nil"
First, thanks for the api!

I've been playing around with it and I keep getting `nil` for `backed_projects` but when I do `backed_projects_count` I get the correct value, `115`.

![screen shot 2017-10-06 at 12 27 18 pm](https://user-images.githubusercontent.com/7854247/31288161-bfc293a6-aa91-11e7-8064-9b7dc601390b.png)

Did some investigating by forking the repo and it seems like we are forbidden

[2017-10-06 16:54] benrugg commented on #44
Hmm... no, I'm not sure what's causing that. I know that since the time we made a lot of that functionality, Kickstarter has changed their API responses quite a bit, so I'd guess that kickscraper just isn't processing that call right.

If you feel like looking into it and submitting a pull request, go for it!

[2017-10-15 23:34] Nishantkumark commented on #35
@benrugg @madelainegur Hi Ben the column names are kind of confusing. Do we have any information about what each column represents ?

[2017-10-15 23:36] Nishantkumark commented on #35
@madelainegur I am working on a kickstarter data for my final project. I am planning to use R and use machine learning to it. How are you planning to approach it ?

[2017-10-16 01:35] jcsouth commented on #35
Hi, @benrugg (@madelainegur and @Nishantkumark). Ben, I've been meaning to tell you something: I parsed the data that your scraper produced into a spreadsheet and hit a few snags. Apparently, some of data in certain fields have **quotation marks and commas** -- and so those rows blow up; they won't parse correctly. (If you open the CSV file in Excel, you'll see what I mean.) Could you use a differ

[2017-10-16 21:31] benrugg commented on #35
@Nishantkumark - a fair amount of the column names are actually just from the project I use the data for - www.jumpkick.me. You can ignore those. The rest should be pretty self-explanatory kickstarter-related fields.

[2017-10-16 21:33] benrugg commented on #35
@jcsouth - hmm, that's no good. Excel should be able to handle any kind of delimiting, because any commas or quotes in the values should be escaped. Here's a new copy delimited by a pipe. Hopefully that'll work in Excel...

https://www.dropbox.com/s/1ya53uunkq0ge4d/kickstarter%20projects%20-%20pipe%20delimited.csv.zip?dl=0

[2017-10-27 08:26] madelainegur commented on #35
@Nishantkumark Hi there, sorry for the late response. I am studying finance, so my initial plan was to find the factors that influence the success of a campaign. I only chose a specific category and added more data manually, but since I don't really know ho to use R and currently have also no time, I will probably do just a logit regression model. (for now there is a strong correlation between man

[2017-11-01 15:15] Nishantkumark commented on #35
@madelainegur Hey sure. Can discuss on it little further. Can you mail me at nishant_kumark@yahoo.com

[2017-11-07 15:55] hannahwen commented on #35
@benrugg  hi ben, have you also scraped the data about the project creators? e.g., information about biography, backed_projects_count , created_projects_count ,  social as mentioned in the WIKI?

[2017-11-07 16:02] hannahwen opened #45 "how to scrape data about the project creators?"
Hi everyone, I am doing academic research about project description and crowdfunding success. i have a dataset of 2000+ projects, and I would like to also get information about their creators (as mentioned in the WIKI), such as the biography of the creators and whether they have posted their facebook accounts, and if yes, how many friends they have. What can I do to scrape those data? Many thanks!

[2017-11-07 22:00] benrugg commented on #35
@hannahwen, I didn't scrape anything about the project creators, because I didn't need it for the specific project I was working on. Sorry!

[2017-11-07 22:06] benrugg commented on #45
I think you can get a little bit of info about project creators through Kickstarter's API... unfortunately it won't be nearly as much as you're looking for, I think. Here's the general idea of what you can do:

[code]

[2017-11-07 22:06] #45 closed, assigned to nobody

[2018-01-12 13:00] global-pih commented on #16
Hello
How are you?
My name is jack.
I am going to get backer count and pledged project url in kickstarter.
How can i get it?
Please help me.My email is jack.telman12345@gmail.com
My skype is "Global Talent Manager" for red rose.
Thanks

[2018-02-01 08:43] mial-radja opened #46 "in `parse': 765: unexpected token"
Hi,
when I try to scrap projects I have this error
C:/Ruby25-x64/lib/ruby/2.5.0/json/common.rb:156:in `parse': 765: unexpected token at '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" (Faraday::Error::ParsingError)
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="conten

[2018-02-01 20:54] benrugg commented on #46
That error happens when kickscraper tries to parse the api response that it expects to be JSON, but it's actually an HTML error page returned by Kickstarter.

I just tested everything on my end, and for sure it's all still working (with a user/pass and without it). I would guess that somehow you're doing a query on the API that has invalid data in it... or maybe in an invalid format?

[2018-02-01 20:54] #46 closed, assigned to nobody

[2018-03-02 01:21] jdell64 commented on #44
I don't know that this is a code issue, this is what I got when I went to the url in `client.user.urls` (backed_projects) in a browser:

[code]

[2019-02-26 22:36] mattmill30 opened #47 "Faraday::Error::ConnectionFailed"
I have installed Kickscraper onto a fresh Ruby 2.6.1 and Gems 3.0.2, but encounter the following error and trace when launching:
'C:\Program Files\Ruby\Ruby26\lib\ruby\gems\2.6.0\gems\kickscraper-0.2.4>rake console'
irb(main):001:0> c = Kickscraper.client

Faraday::Error::ConnectionFailed (Failed to open TCP connection to localhost:8888 (No connection could be made because the target machine activ

[2019-02-26 22:37] mattmill30 commented on #47
[Kickscraper_installation_procedure.txt](https://github.com/markolson/kickscraper/files/2907828/Kickscraper_installation_procedure.txt)

[2019-02-26 22:49] mattmill30 commented on #47
Includes "'C:\Program Files\Ruby\Ruby26\bin\gem' install kickscraper" console output.
[Kickscraper_installation_procedure.txt](https://github.com/markolson/kickscraper/files/2907844/Kickscraper_installation_procedure.txt)

[2019-02-26 23:32] benrugg commented on #47
I'm traveling at the moment, so I can't look I to this fully until a little later. But I *think* that it's trying to connect to a proxy (localhost:8888). Look for the proxy settings in the code and comment them out. Let me know if that works.

[2019-02-26 23:58] mattmill30 commented on #47
I've deleted the :proxy lines in connection.rb and configure.rb, but the error hasn't changed.

I notice the issue refers to faraday url_encoded.rb.
I don't know whether it's relevant, but when Ruby was installed, the UTF-8 default encoding checkbox wasn't ticked.

[2019-02-27 00:26] benrugg commented on #47
Shoot... I don't really have any idea what would cause that. I'm not sure how much I'll be able to help.

[2019-02-27 13:08] mattmill30 commented on #47
@benrugg, do you have any ideas following the response I received from Faraday?
https://github.com/lostisland/faraday/issues/886#issuecomment-467825239

[2019-02-27 17:38] benrugg commented on #47
Yes, they're exactly right. Whatever you tried to comment out didn't work, since proxy == 'localhost:8888'. Just set it to nil, me also set the email and password to real values. (Do that all at runtime, not in the kickscraper code)

[2020-10-07 12:11] mankinchi commented on #16
2020 is here now and still nothing like that :)). Some of the end points are still working fine but no public confirmation whatsoever :))

[2020-10-07 14:36] benrugg commented on #16
Ha, yeah, Kickstarter went from world-changing phenomenon to meh 🤷‍♂️

On Wed, Oct 7, 2020 at 7:12 AM Tri Nguyen <notifications@github.com> wrote:

[2021-02-13 05:30] jdieguez89 commented on #16
Hi guys, I started a project to download data from Kickstarter, such as media(including images and videos), project info, and author info. This software is in beta, but you can try it. I hope that resolves your problems. Soon has finished the documentation I will share you; if you are interested in this project, write to me, Regards

[2021-02-13 05:55] benrugg commented on #16
Hey @jdieguezbean - thanks for posting this. For me personally, I'm not gathering data from Kickstarter anymore, but I'm glad someone is still thinking about it. Good luck on your project!

[2021-02-26 17:17] ObaydaAlesawi opened #48 "Captcha Issue"
I always this Captcha issue when I'm trying to fetch the data
![image](https://user-images.githubusercontent.com/32073999/109332721-90255200-786f-11eb-8b29-cf0148d5b5ed.png)
anyone know how can I ignore or do anything about this issue?

[2021-02-26 17:17] ObaydaAlesawi commented on #16
@jdieguezbean @benrugg
I always this Captcha issue when I'm trying to fetch the data
![image](https://user-images.githubusercontent.com/32073999/109332721-90255200-786f-11eb-8b29-cf0148d5b5ed.png)
Do you know how can I ignore or do anything about this issue?

[2021-02-26 17:20] benrugg commented on #16
@Algeneralo ah, that's interesting. It must've been added since the last time I used kickscraper. I stopped using it about a year ago - sorry that I can't help with this!

[2021-02-26 17:21] benrugg commented on #48
@Algeneralo ah, that's interesting. It must've been added since the last time I used kickscraper. I stopped using it about a year ago - sorry that I can't help with this!

[2022-07-13 04:03] FSou1 commented on #16
You can use `per_page` parameter to set a number of projects to return (1 to 48)